html{
    padding-left: 10%;
    padding-right: 10%;
    background-color: #e1f5fe;


}


.header{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap:wrap;
}
#headerChoices {
    margin-top: 5%;
    margin-bottom:0;

}
#decideTitle{
    margin-top: 0;
}

#bigContainer{
    display:flex;
    flex-direction:column;
    flex: 1 1 auto;
    padding:15%;
    padding-top:0;
    padding-bottom:0;
    margin: 0;
    align-items: space-between;
    justify-content:center;

}

#containerOfThree{
    display: flex;
    flex-direction:row;
    justify-content: center;
    justify-self: center;
    margin: auto;
    flex-basis: auto;
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    
}

.tool{
    margin: 30px;
    transition: 0.5s;
    padding: auto;
    height: auto;
    width: 30%;
    flex: 1 1 auto;
}

.selected{
    transform:scale(1.2);
    border: solid 4px black;
    border-radius: 20%;
    padding: 20px;
    transform:rotate(-10deg);
}

#scoreBoard{
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    margin: none;
    justify-content: space-between;

}

#status{
    background-color: #afc2cb;
    text-align: start;
    padding: 4vh;
    font-size: 3vh;
    font-weight: bold;
    user-select: none;
    flex-grow: 1;
}

#score{
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 40px 40px;
    margin-left: 1em;
    justify-self: stretch;
    
    
}

#you{
    grid-column-start: 1;

}

.top{
    text-align: center;
    margin:0;
    font-weight: bold;
    font-size: 16pt
}

.bot{
    text-align: center;
    margin:0;
}
.right{
    border-left: solid 2px black;    
}